<!DOCTYPE html>
<html>
<head>
	<title>Carrot Cake</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/main.js"></script>
	<script type="text/javascript" src="../scripts/recipes.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/carrotandstrawberry.css">
	<link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
</head>
<body>

	<div class="header">
	<button id="but1" onclick="location.href='../index.html'"> Home </button>
	<div class="dropbut">
	<button id="but2"> Recipes </button>
		<div class="content">
		<a href="../templates/pumpkin.html">Pumpkin Cheesecake</a>
		<a href="../templates/carrot.html">Carrot Cake</a>
		<a href="../templates/chocolate.html">Chocolate Cake</a>
		<a href="../templates/strawberry.html">Strawberry Cake</a>
		</div>
	</div>
	<button id="but3" onclick="location.href='../templates/more.html'"> More </button>
	<button id="but4" onclick="location.href='../templates/tips.html'"> Tips </button>
	</div>

<div class="background">
	<div class="title">
	<h2>Carrot Cake</h2>
	</div>

	<div id="ingrecontainer">
	<ul id="ingredient">
		<li>4 eggs</li>
		<li>1 1/4 cups vegetable oil</li>
		<li>2 cups white sugar</li>
		<li>2 teaspoons vanilla extract</li>
		<li>2 cups all-purpose flour</li>
		<li>2 teaspoons baking soda</li>
		<li>2 teaspoons baking powder</li>
		<li>2 teaspoons ground cinnamon</li>
		<li>1/2 teaspoon salt</li>
		<li>3 cups grated carrots</li>
		<li>1 cup chopped pecans</li>
		<li>1/2 cup butter, softened</li>
		<li>8 ounces cream cheese, softened</li>
		<li>4 cups confectioners' sugar</li>
	</ul>
	</div>

	<div class="imgs"> 
		<img src="../images/carrotcake.jpg" alt="a picture of carrot cake with pecans on it">
	</div>



	<div id="direcontainer">
	<h4> Directions </h4>
	<ol>
		<li class="directions">Preheat oven to 350 degrees F (175 degrees C). Grease and flour a 9x13 inch pan.</li>
		<li class="directions">In a large bowl, beat together eggs, oil, white sugar and 2 teaspoons vanilla. Mix in flour, baking soda, baking powder, salt and cinnamon. Stir in carrots. Fold in pecans. Pour into prepared pan.</li>
		<li class="directions">Bake in the preheated oven for 40 to 50 minutes, or until a toothpick inserted into the center of the cake comes out clean. Let cool in pan for 10 minutes, then turn out onto a wire rack and cool completely.</li>
		<li class="directions">To Make Frosting: In a medium bowl, combine butter, cream cheese, confectioners' sugar and 1 teaspoon vanilla. Beat until the mixture is smooth and creamy. Stir in chopped pecans. Frost the cooled cake.</li>
	</ol>
	</div>

</div>



</body>
</html>