<!DOCTYPE html>
<html>
<head>
	<title>Chocolate Cake</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/main.js"></script>
	<script type="text/javascript" src="../scripts/recipes.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/pumpkinandchoco.css">
	<link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
</head>
<body>

	<div class="header">
	<button id="but1" onclick="location.href='../index.html'"> Home </button>
	<div class="dropbut">
	<button id="but2"> Recipes </button>
		<div class="content">
		<a href="../templates/pumpkin.html">Pumpkin Cheesecake</a>
		<a href="../templates/carrot.html">Carrot Cake</a>
		<a href="../templates/chocolate.html">Chocolate Cake</a>
		<a href="../templates/strawberry.html">Strawberry Cake</a>
		</div>
	</div>
	<button id="but3" onclick="location.href='../templates/more.html'"> More </button>
	<button id="but4" onclick="location.href='../templates/tips.html'"> Tips </button>
	</div>

<div class="background">
	<div class="title">
	<h2>Chocolate Cake </h2>
	</div>

	<div class="imgs"> 
		<img src="../images/chocolatecake.jpg" alt="a picture of a chocolate cake">
	</div>

	<div id="ingrecontainer">
	<ul id="ingredient">
		<li>2 cups white sugar</li>
		<li>1 3/4 cups all-purpose flour</li>
		<li>3/4 cup unsweetened cocoa powder</li>
		<li>1 1/2 teaspoons baking powder</li>
		<li>1 1/2 teaspoons baking soda</li>
		<li>1 teaspoon salt</li>
		<li>2 eggs</li>
		<li>1 cup milk</li>
		<li>1/2 cup vegetable oil</li>
		<li>2 teaspoons vanilla extract</li>
		<li>1 cup boiling water</li>
	</ul>
	</div>

	<div id="direcontainer">
	<h4> Directions </h4>
	<ol>
		<li class="directions">Preheat oven to 350 degrees F (175 degrees C). Grease and flour two nine inch round pans.</li>
		<li class="directions">In a large bowl, stir together the sugar, flour, cocoa, baking powder, baking soda and salt. Add the eggs, milk, oil and vanilla, mix for 2 minutes on medium speed of mixer. Stir in the boiling water last. Batter will be thin. Pour evenly into the prepared pans.</li>
		<li class="directions">Bake 30 to 35 minutes in the preheated oven, until the cake tests done with a toothpick. Cool in the pans for 10 minutes, then remove to a wire rack to cool completely.</li>
	</ol>
	</div>

</div>



</body>
</html>