<!DOCTYPE html>
<html>
<head>
	<title>More</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/main.js"></script>
	<script type="text/javascript" src="../scripts/more.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/more.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
</head>
<body>

	<div class="header">
	<button id="but1" onclick="location.href='../index.html'"> Home </button>
	<div class="dropbut">
	<button id="but2"> Recipes </button>
		<div class="content">
		<a href="../templates/pumpkin.html">Pumpkin Cheesecake</a>
		<a href="../templates/carrot.html">Carrot Cake</a>
		<a href="../templates/chocolate.html">Chocolate Cake</a>
		<a href="../templates/strawberry.html">Strawberry Cake</a>
		</div>
	</div>
	<button id="but3" onclick="location.href='../templates/more.html'"> More </button>
	<button id="but4" onclick="location.href='../templates/tips.html'"> Tips </button>
	</div>

<div class="background">
	<div class="title">
	<h2> Search for more cake recipes</h2>
	</div>
	<div id="container">
	<input id="input" type="text" name="translate" placeholder="What cake do you wanna eat today?"></input>
	<button id="search"> Search </button>
	</div>

</div>



</body>
</html>