<!DOCTYPE html>
<html>
<head>
	<title>Tips</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/main.js"></script>
	<script type="text/javascript" src="../scripts/tips.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/tips.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
</head>
<body>

	<div class="header">
	<button id="but1" onclick="location.href='../index.html'"> Home </button>
	<div class="dropbut">
	<button id="but2"> Recipes </button>
		<div class="content">
		<a href="../templates/pumpkin.html">Pumpkin Cheesecake</a>
		<a href="../templates/carrot.html">Carrot Cake</a>
		<a href="../templates/chocolate.html">Chocolate Cake</a>
		<a href="../templates/strawberry.html">Strawberry Cake</a>
		</div>
	</div>
	<button id="but3" onclick="location.href='more.html'"> More </button>
	<button id="but4" onclick="location.href='tips.html'"> Tips </button>
	</div>

<div class="background">
	<div class="title">
	<h2>Cake Making Tips</h2>
	</div>

<div class="tip">
	<div class="tiptitle">
	<p>Lining a Cake Pan</p>
	<img class="expand" id="expand1" src="../images/cakeicon.png" alt="small cake icon"> 
	</div>

	<div class="tipcontent" id="tipcontent1">
	What good is a delicious cake if it remains stuck in the pan? For smooth, easy removal, prep your pans properly. When a recipe calls for buttering and flouring, place a piece of parchment or waxed paper on the bottom of a pan (trace and cut it to fit). Coat the sides and bottom with softened butter, and then dust with flour, turning the pan on its side to get full coverage and tapping out the excess. For chocolate cakes, swap in cocoa powder for flour. Cakes baked in springform or decorative Bundt pans don't need the paper; just butter and flour (use a pastry brush to get butter into the crevices). The exceptions: Angel, chiffon and sponge cakes should go into clean, untreated pans, because they need to adhere to the sides in order to rise properly. For cupcakes, decorative preformed paper or foil liners are indispensable.
	</div>
</div>

<div class="tip">
	<div class="tiptitle">
	<p>Measuring</p>
	<img class="expand" id="expand2" src="../images/cakeicon.png" alt="small cake icon"> 
	</div>

	<div class="tipcontent" id="tipcontent2">
	Accurate measuring is the difference between a light, moist cake and a gummy, dense one. To properly measure, you need three types of measuring tools: a clear measuring cup with a spout for wet ingredients, cups with flat rims in graduated sizes for dry ingredients and a set of measuring spoons. Most American baking recipes measure ingredients by volume, not weight. (For example, a recipe will call for 1 cup sugar rather than 8 ounces sugar.) If you become truly passionate about baking, consider investing in a scale. Weight measurements are the most accurate and are commonly used in advanced recipes and international cookbooks.
	</div>
</div>

<div class="tip">
	<div class="tiptitle">
	<p>Creaming</p>
	<img class="expand" id="expand3" src="../images/cakeicon.png" alt="small cake icon"> 
	</div>

	<div class="tipcontent" id="tipcontent3">
	Cake recipes often call for beating, or creaming, butter with sugar for several minutes — sometimes up to 10. Although it can be tempting to cut this step short, particularly when you're using a hand mixer, it's important to stick with it. This beating is where the texture and structure of a cake is made. Air is a vital ingredient in cakes, and it takes time to properly incorporate it into the batter. As you beat, the butter will lighten in color and you should see it increase in volume in the bowl.
	</div>
</div>

<div class="tip">
	<div class="tiptitle">
	<p>Baking</p>
	<img class="expand" id="expand4" src="../images/cakeicon.png" alt="small cake icon"> 
	</div>

	<div class="tipcontent" id="tipcontent4">
	Allow at least 20 minutes for your oven to preheat; it's best to turn the oven on before you start working on your recipe. Keep in mind that ovens differ and every oven has hot spots. Your best bet for even baking is to position a rack in the center of the oven and rotate the position of your pans partway through after the cake has begun to set. Opening the oven door too often can make a cake fall, so use the window in your oven door to check the cake's progress when possible. Check for doneness 10 minutes before the recipe suggests. For most recipes, a cake is ready when it starts pulling away from the sides of the pan and a toothpick inserted in the center comes out clean.
	</div>
</div>

<div class="tip">
	<div class="tiptitle">
	<p>Cooling</p>
	<img class="expand" id="expand5" src="../images/cakeicon.png" alt="small cake icon"> 
	</div>

	<div class="tipcontent" id="tipcontent5">
	Cakes cool faster and don't get soggy when set out on a rack. Leave them in the pans for 10 to 15 minutes before unmolding, then place on a rack to cool completely before frosting. Angel, chiffon and sponge cakes should be left in the pan to prevent collapsing.
	</div>
</div>



</div>



</body>
</html>